.home-container{
    min-width:82vw ;
    background-color: rgb(239, 231, 231);
    margin: 0;
    padding: 0%;
}

.home-heading-container{
   
    display: flex;
    margin-top: 2.2rem;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
    

}
.Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.show-more {
   
    
   
   padding-bottom: 1.8rem;
   
}

.home-title{

text-align: center;
margin-right: 0.5rem;
}

.blocks{
    width: 100%;
}

@media (max-width:412px) {
    .home-container{
        min-width: 100vw;
        background-color: rgb(230, 230, 230);
        margin: 0px;
        padding:0px
    }

    .show-more{
        display: none;
    }
}